/* Add your CSS to this file */
body {
    margin: 0;
    font-size: 18px;
    font-family: -apple-system,
    BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

section {
    padding: 60px 0; /* space between sections */
}

header {
    background-color: white;
    font-size: 18px;
}


header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

header nav a {
    color: #6b7280 ;
    text-decoration: none;
    margin-right: 20px;
}

header nav a:hover{
    color: #5A67D8;
}

.overview-hero {
    background-color: #E2E8F0;
}

.overview-hero .container {
    display: flex;
    align-items: center;
    gap: 40px;
}

.overview-hero-image img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
}

.learn-about .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin-top: 20px;
}

.learn-about .card {
    border: 1px solid #E2E8F0;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.learn-about .card img {
    width: 100%;
    border-radius: 5px;
    margin-bottom: 15px;
}

.learn-about .card h3 {
    font-size: 21px;
    color: #48BB78;
}

.testing {
    background-color: #4A5568;
    color: white;
}

.testing .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.testing .cta a {
    background-color: #48BB78;
    padding: 10px 16px;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}


.stories h2 {
    color: #5A67D8;
}

.stories article {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
}

.stories article img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.stories article h3 {
    font-size: 18px;
}

.stories article a {
    color: #5A67D8;
    text-decoration: none;
}

.newsletter {
    background-color: #48BB78;
    color: white;
}
.newsletter .container {
    text-align: center;
}

.newsletter form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    gap: 10px;
}

.newsletter input {
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: none;
}

.newsletter button {
    background-color: #5A67D8;
    color: white;
    border-radius: 5px;
    padding: 10px 16px;
    border: none;
}

footer {
    background-color: #4A5568;
    color: white;
    padding: 20px 0;
}